<header class="header_a">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to image_tag("logo_transparent.png", class: "logo"), root_path %>
      </div>
      <div class="card_a">気になるお店</div>
    </div>
  </div>
</header>

<main class="main">
    <%= image_tag "restaurant.jpg", class: "image_restaurant" %>
    <%= image_tag "ogasuta458A7755.jpg", class: "image_restaurant_a" %>
  <div class="card">登録店一覧</div>
  <% if user_signed_in? && @shops.where(interesting_store_id: 2).exists? %>
  <% @shops.where(interesting_store_id: 2).each do |shop| %>
    <div class="shop_list">
      <div class="block">
        <div class="shop_imege">
          <%= image_tag shop.images[0].variant(resize: "210x250"), class: "shop-img" if shop.images.attached? %><br>
        </div>
        <div class="card__body">
          <%= link_to shop.store_name, shop_path(shop.id), class: "card__title" %>
          <p class="card__summary">
            <%= shop.category.name %>
          </p>
        </div>
      </div>
      <div class="more">
        <span><%= image_tag "arrow_top.png" %></span>
        <ul class="more_list">
          <% if user_signed_in? %>
            <li>
              <%= link_to "編集", edit_shop_path(shop.id), method: :get %>
            </li>
            <li>
              <%= link_to "削除", shop_path(shop.id), method: :delete, class: "delete-btn" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <% end %>
</main>